<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="contentTypeExtensions" name="Content Type Extensions" schema="schema/contentTypeExtensions.exsd"/>

   <extension point="org.eclipse.ui.views">
      <category
         name="%OSGiSet.Category"
         id="org.tigris.mtoolkit.osgi">
      </category>
      <view
         name="%OSGiSet.FrameworkView"
         icon="images/frameworks.gif"
         category="org.tigris.mtoolkit.osgi"
         class="org.tigris.mtoolkit.osgimanagement.internal.FrameWorkView"
         id="org.tigris.mtoolkit.osgimanagement.frameworkview">
      </view>
   </extension>

  <extension point="org.tigris.mtoolkit.common.preferencesPages">
     <page class="org.tigris.mtoolkit.osgimanagement.internal.preferences.FrameworkPreferencesPage"
           id="org.tigris.mtoolkit.osgimanagement.preferences.FrameworkPreferencesPage"
           index="20"
           name="%FrameworkPreferencesPage.name">
     </page>
  </extension> 


   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.tigris.mtoolkit.osgimanagement.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="zip,jar,dp"
            id="org.tigris.mtoolkit.osgimanagement.zip"
            name="Zip Archive"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter
                  name="signature"
                  value="50 4B 03 04">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProviders">
      <provider
            class="org.tigris.mtoolkit.common.installation.WorkspaceFileProvider"
            extension="dp"
            id="org.tigris.mtoolkit.osgimanagement.deploymentprovider"
            name="Deployment package provider"
            type="application/vnd.osgi.dp">
      </provider>
      <provider
            class="org.tigris.mtoolkit.common.installation.WorkspaceFileProvider"
            extension="jar"
            id="org.tigris.mtoolkit.osgimanagement.jarprovider"
            name="Bundle provider"
            type="application/java-archive">
      </provider>
      <provider
            class="org.tigris.mtoolkit.common.installation.WorkspaceFileProvider"
            extension="zip"
            id="org.tigris.mtoolkit.osgimanagement.jarprovider"
            name="Bundle provider"
            type="application/zip">
      </provider>
      <provider
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.PluginProvider"
            id="org.tigris.mtoolkit.osgimanagement.pluginprovider"
            name="Plugin project provider">
      </provider>
   </extension>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProcessors">
      <processor
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.FrameworkProcessor"
            id="org.tigris.mtoolkit.osgimanagement.frameworkprocessor"
            selectionDialog="org.tigris.mtoolkit.osgimanagement.internal.installation.FrameworkSelectionDialog">
      </processor>
   </extension>

   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="org.eclipse.jdt.debug.ui.JavaConsoleTracker">
         <enablement>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="osgiManagementConsole"/>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="org.eclipse.jdt.debug.ui.JavaNativeConsoleTracker">
         <enablement>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="osgiManagementConsole"/>
         </enablement>
      </consolePatternMatchListener>
            <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="org.eclipse.jdt.debug.ui.JavaExceptionConsoleTracker">
         <enablement>
            <test
                  property="org.eclipse.ui.console.consoleTypeTest"
                  value="osgiManagementConsole">
            </test>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.tigris.mtoolkit.osgimanagement.internal.console.ConsolePageParticipant"
            id="org.tigris.mtoolkit.osgimanagement.consolePageParticipant">
         <enablement>
            <test
                  property="org.eclipse.ui.console.consoleTypeTest"
                  value="osgiManagementConsole">
            </test></enablement>
      </consolePageParticipant>
   </extension>   

</plugin>
