<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category
         name="%OSGiSet.Category"
         id="org.tigris.mtoolkit.osgi">
      </category>
      <view
         name="%OSGiSet.RemoteConsole"
         icon="images/console.gif"
         category="org.tigris.mtoolkit.osgi"
         class="org.tigris.mtoolkit.osgimanagement.internal.ConsoleView"
         id="org.tigris.mtoolkit.osgimanagement.internal.consoleview">
      </view>
      <view
         name="%OSGiSet.FrameworkView"
         icon="images/frameworks.gif"
         category="org.tigris.mtoolkit.osgi"
         class="org.tigris.mtoolkit.osgimanagement.internal.FrameWorkView"
         id="org.tigris.mtoolkit.osgimanagement.frameworkview">
      </view>
   </extension>

  <extension point="org.tigris.mtoolkit.common.preferencesPages">
     <page class="org.tigris.mtoolkit.osgimanagement.internal.preferences.FrameworkPreferencesPage"
           id="org.tigris.mtoolkit.osgimanagement.preferences.FrameworkPreferencesPage"
           index="20"
           name="%FrameworkPreferencesPage.name">
     </page>
  </extension> 


   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.tigris.mtoolkit.osgimanagement.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="zip,jar,dp"
            id="org.tigris.mtoolkit.osgimanagement.zip"
            name="Zip Archive"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter
                  name="signature"
                  value="50 4B 03 04">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProviders">
      <provider
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.WorkspaceFileProvider"
            id="org.tigris.mtoolkit.osgimanagement.deploymentprovider"
            extension="dp"
            type="application/vnd.osgi.dp">
      </provider>
      <provider
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.WorkspaceFileProvider"
            id="org.tigris.mtoolkit.osgimanagement.jarprovider"
            extension="jar"
            type="application/java-archive">
      </provider>
      <provider
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.WorkspaceFileProvider"
            id="org.tigris.mtoolkit.osgimanagement.jarprovider"
            extension="zip"
            type="application/zip">
      </provider>
      <provider
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.PluginProvider"
            id="org.tigris.mtoolkit.osgimanagement.pluginprovider">
      </provider>
   </extension>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProcessors">
      <processor
            class="org.tigris.mtoolkit.osgimanagement.internal.installation.FrameworkProcessor"
            id="org.tigris.mtoolkit.osgimanagement.frameworkprocessor"
            selectionDialog="org.tigris.mtoolkit.osgimanagement.internal.installation.FrameworkSelectionDialog">
      </processor>
   </extension>


</plugin>
