<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension point="org.eclipse.help.contexts"> 
      <contexts file="contexts_mtoolkit.xml" plugin="org.tigris.mtoolkit"/> 
   </extension>
</plugin>
