<osgi-config xmlns:tree="http://www.prosyst.com/tee/tree"
	tree:modelref="osgi-config">

	<property tree:value="iagent.debug">
		<prop-value>true</prop-value>
	</property>
	
	<property tree:value="iagent.log.file">
		<prop-value>iagent.log</prop-value>
	</property>
	
	<property tree:value="iagent.pmp.response.timeout">
		<prop-value>30000</prop-value>
	</property>

	<bundle tree:value="../bundles/fw.eventadmin.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/osgimobile.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/fw.swadmin.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/fw.swadmin.ext.bundle.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/osgimobile.oatimpl.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/iagent.rpc.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

	<bundle tree:value="../bundles/iagent.ext.rpc.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>


	<bundle tree:value="../testcases/bundles/iagent.client.jar">
		<action>install&amp;start</action>
		<feature tree:value="loader.type">
			<feature-value>jar</feature-value>
		</feature>
	</bundle>

</osgi-config>
