<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tigris.mtoolkit.osgimanagement.contentTypeExtensions">
      <actions
            class="org.tigris.mtoolkit.osgimanagement.dp.DPActionsProvider">
      </actions>
      <model
            class="org.tigris.mtoolkit.osgimanagement.dp.DPModelProvider">
      </model>
   </extension>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProviders">
      <provider
            class="org.tigris.mtoolkit.common.installation.WorkspaceFileProvider"
            extension="dp"
            id="org.tigris.mtoolkit.osgimanagement.ext.dp.processor"
            name="%DeploymentPackageProvider.name"
            type="application/vnd.osgi.dp">
      </provider>
   </extension>
   <extension
         point="org.tigris.mtoolkit.osgimanagement.frameworkProcessorExtensions">
      <processor
            class="org.tigris.mtoolkit.osgimanagement.dp.logic.DPProcessor"
            id="org.tigris.mtoolkit.osgimanagement.dp.logic.DPProcessor">
      </processor>
   </extension>
</plugin>
