<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tigris.mtoolkit.common.installationItemProviders">
      <provider
            class="org.tigris.mtoolkit.maven.internal.installation.MavenInstallationItemProvider"
            id="org.tigris.mtoolkit.maven.core.installationProvider"
            name="%MavenInstallationItemProvider.name">
      </provider>
   </extension>
</plugin>
