<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point id="preferencesPages" name="mToolkit Preferences Pages" schema="schema/preferencesPages.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.tigris.mtoolkit.common.preferences.CommonPreferencePage"
            id="org.tigris.mtoolkit.common.preferences.MToolkitPreferencePage"
            name="mToolkit"
            >
      </page>
   </extension>
</plugin>
